/*.DS_Store
/note/src/__pycache__/auto_fighter.cpython-313.pyc
/note/src/__pycache__/config.cpython-313.pyc
/note/src/auto_fighter.log
/note/src/config.py
*.pyc
dist
build
/note/src/__pycache__
note/src/ConfigEditor.spec
note/src/ConfigEditor.exe
note/src/AutoFighter.exe
note/anser.txt
note/auto_fighter.log
